<header class="bg-gray-800">
  <!-- https://tailwindui.com/components/marketing/sections/heroes#component-c2665b7bbef783e2d6683ad7e2075e10 -->
  <div class="relative overflow-hidden max-w-7xl mx-auto">
    <div class="relative pt-6 pb-16 sm:pb-24 px-3">
      <div>
        <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
          <div class="flex items-center flex-1">
            <div class="flex items-center justify-between w-full md:w-auto">
              <a href="#">
                <span class="sr-only">Finance Strategists</span>
                <img class="h-8 w-auto sm:h-10" src="/assets/finance-strategists_logo_white.png" alt="">
              </a>
              <div class="-mr-2 flex items-center md:hidden">
                <button type="button" class="bg-gray-800 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-700 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-white" aria-expanded="false">
                  <span class="sr-only">Open main menu</span>
                  <!-- Heroicon name: outline/menu -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="grow place-content-end hidden space-x-10 md:flex md:ml-10">
              <a href="#" class="font-medium text-white hover:text-gray-300">Dictionary</a>
              <a href="#" class="font-medium text-white hover:text-gray-300">Interviews</a>
              <a href="#" class="font-medium text-white hover:text-gray-300">Services</a>
              <a href="#" class="font-medium text-white hover:text-gray-300">Videos</a>
              <a href="#" class="font-medium text-white hover:text-gray-300">About Us</a>
              <a href="#" class="font-medium text-white hover:text-gray-300">Contact</a>
            </div>
          </div>
        </nav>
        <!--
          Mobile menu, show/hide based on menu open state.
          Entering: "duration-150 ease-out"
            From: "opacity-0 scale-95"
            To: "opacity-100 scale-100"
          Leaving: "duration-100 ease-in"
            From: "opacity-100 scale-100"
            To: "opacity-0 scale-95"
        -->
        <div class="absolute z-10 top-0 inset-x-0 p-2 transition transform origin-top-right hidden">
          <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
            <div class="px-5 pt-4 flex items-center justify-between">
              <div>
                <img class="h-8 w-auto sm:h-10" src="/assets/finance-strategists_logo.png.webp" alt="">
              </div>
              <div class="-mr-2">
                <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-teal-500">
                  <span class="sr-only">Close menu</span>
                  <!-- Heroicon name: outline/x -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="px-2 pt-2 pb-3 space-y-1">
              <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Dictionary</a>
              <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Interviews</a>
              <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Services</a>
              <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Videos</a>
              <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">About Us</a>
              <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Contact</a>
            </div>
          </div>
        </div>
      </div>

      <main class="mt-16 sm:mt-24">
        <div class="mx-auto max-w-7xl">
          <div class="text-center">
            <div class="breadcrumbs px-5 py-2.5 text-white text-s font-semibold" typeof="BreadcrumbList" vocab="https://schema.org/">
              <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Go to Home." href="/" class="home underline"><span property="name">Home</span></a>
                <meta property="position" content="1">
              </span>
              {%- if page.crumbs -%}
                {% for crumb, pos in page.crumbs %}
                  <span>&nbsp;&raquo;&nbsp;</span>
                  <span property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" title="Go to {{ crumb.title }}." href="{{ crumb.link }}" class="underline"><span property="name">{{ crumb.title }}</span></a>
                    <meta property="position" content="{{ pos + 1 }}">
                  </span>
                {% endfor %}
              {%- endif -%}
            </div>

            <h1 class="flex flex-wrap gap-x-4 justify-center mt-4 tracking-tight text-white">
              <h1 class="text-3xl sm:text-4xl sm:mt-5 sm:leading-10 lg:mt-6 lg:text-5xl xl:text-6xl font-extrabold text-white mb-4">
                <span class="md:block mb-2">{{ page.title | escape }}</span>
              </h1>
              <span class="text-white md:block mb-2.5 mt-10">
                <div class="mx-auto pt-4">
                  <div class="flex items-center mx-auto justify-center">
                    <img src="/assets/true-tamplin@2x.jpg" alt="" class="rounded-full h-12 w-12 mr-2">
                    <div class="flex flex-col justify-center items-start">
                      <h3 class="text-sm sm:text-xl tracking-tight">
                        <span>Written by</span>
                        <span class="font-semibold text-teal-600">{{ page.author | escape }}</span>
                      </h3>
                      {%- assign dateModified = page.modified_date | date_to_xmlschema -%}
                      <p class="font-normal text-sm">Updated on {{ dateModified | date: "%b %-d, %Y" }}</p>
                    </div>
                  </div>
                </div>
              </span>
            </h1>
          </div>
        </div>
      </main>
    </div>
  </div>
</header>